.button,button,input[type=button],input[type=submit] {
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6px 14px;
  font-family: inherit;
  font-size: 1rem;
  min-height: 40px;
  text-decoration: none;
  background: #f5f5f5;
  color: #222
}

.button:not(:disabled) {
  cursor: pointer
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.button:hover {
  text-decoration: none;
  background: #ececec;
  color: #222
}

.button:focus {
  outline: none;
  background: #ececec;
  color: #222
}

.button.is-active,.button:active {
  background: #ececec;
  color: #222
}

.button:disabled {
  pointer-events: none;
  opacity: 0.45
}