.card {
  position: relative;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-title a {
  color: inherit;
  text-decoration: none;
}

.card-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}